#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0.3em;
}

main {
  padding: 2em;
}

.launcher-card > a {
  border-radius: 1em;
  border: 1px solid #222222;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.launcher-card > a:hover {
  background-color: #0a0a0a;
  border-color: #333333;
}

.launcher-card > a > .info {
  display: flex;
  flex-direction: column;
}

.launcher-card > a > .info > small {
  opacity: .6;
}
