{
  "extends": [
    "next/core-web-vitals",
    "plugin:storybook/recommended"
  ],
  "rules": {
    "no-trailing-spaces": "warn",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  }
}
