{
  "extends": [
    "plugin:storybook/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "react/function-component-definition": ["warn"],
    "no-trailing-spaces": "warn",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  }
}
