:root {
    --joy-fontSize-xs3: 0.5rem;
    --joy-fontSize-xs2: 0.625rem;
    --joy-fontSize-xs: 0.75rem;
    --joy-fontSize-sm: 0.875rem;
    --joy-fontSize-md: 1rem;
    --joy-fontSize-lg: 1.125rem;
    --joy-fontSize-xl: 1.25rem;
    --joy-fontSize-xl2: 1.5rem;
    --joy-fontSize-xl3: 1.875rem;
    --joy-fontSize-xl4: 2.25rem;
    --joy-fontSize-xl5: 3rem;
    --joy-fontSize-xl6: 3.75rem;
    --joy-fontSize-xl7: 4.5rem;
    --joy-fontFamily-body: "Public Sans",var(--joy-fontFamily-fallback);
    --joy-fontFamily-display: "Public Sans",var(--joy-fontFamily-fallback);
    --joy-fontFamily-code: Source Code Pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    --joy-fontFamily-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --joy-fontWeight-xs: 200;
    --joy-fontWeight-sm: 300;
    --joy-fontWeight-md: 500;
    --joy-fontWeight-lg: 600;
    --joy-fontWeight-xl: 700;
    --joy-fontWeight-xl2: 800;
    --joy-fontWeight-xl3: 900;
    --joy-focus-thickness: 2px;
    --joy-lineHeight-sm: 1.25;
    --joy-lineHeight-md: 1.5;
    --joy-lineHeight-lg: 1.7;
    --joy-letterSpacing-sm: -0.01em;
    --joy-letterSpacing-md: 0.083em;
    --joy-letterSpacing-lg: 0.125em;
    --joy-radius-xs: 4px;
    --joy-radius-sm: 8px;
    --joy-radius-md: 12px;
    --joy-radius-lg: 16px;
    --joy-radius-xl: 20px;
    --joy-shadow-xs: var(--joy-shadowRing),0 1px 2px 0 rgba(var(--joy-shadowChannel) / 0.12);
    --joy-shadow-sm: var(--joy-shadowRing),0.3px 0.8px 1.1px rgba(var(--joy-shadowChannel) / 0.11),0.5px 1.3px 1.8px -0.6px rgba(var(--joy-shadowChannel) / 0.18),1.1px 2.7px 3.8px -1.2px rgba(var(--joy-shadowChannel) / 0.26);
    --joy-shadow-md: var(--joy-shadowRing),0.3px 0.8px 1.1px rgba(var(--joy-shadowChannel) / 0.12),1.1px 2.8px 3.9px -0.4px rgba(var(--joy-shadowChannel) / 0.17),2.4px 6.1px 8.6px -0.8px rgba(var(--joy-shadowChannel) / 0.23),5.3px 13.3px 18.8px -1.2px rgba(var(--joy-shadowChannel) / 0.29);
    --joy-shadow-lg: var(--joy-shadowRing),0.3px 0.8px 1.1px rgba(var(--joy-shadowChannel) / 0.11),1.8px 4.5px 6.4px -0.2px rgba(var(--joy-shadowChannel) / 0.13),3.2px 7.9px 11.2px -0.4px rgba(var(--joy-shadowChannel) / 0.16),4.8px 12px 17px -0.5px rgba(var(--joy-shadowChannel) / 0.19),7px 17.5px 24.7px -0.7px rgba(var(--joy-shadowChannel) / 0.21);
    --joy-shadow-xl: var(--joy-shadowRing),0.3px 0.8px 1.1px rgba(var(--joy-shadowChannel) / 0.11),1.8px 4.5px 6.4px -0.2px rgba(var(--joy-shadowChannel) / 0.13),3.2px 7.9px 11.2px -0.4px rgba(var(--joy-shadowChannel) / 0.16),4.8px 12px 17px -0.5px rgba(var(--joy-shadowChannel) / 0.19),7px 17.5px 24.7px -0.7px rgba(var(--joy-shadowChannel) / 0.21),10.2px 25.5px 36px -0.9px rgba(var(--joy-shadowChannel) / 0.24),14.8px 36.8px 52.1px -1.1px rgba(var(--joy-shadowChannel) / 0.27),21px 52.3px 74px -1.2px rgba(var(--joy-shadowChannel) / 0.29);
    --joy-unstable_sxConfig-border-themeKey: borders;
    --joy-unstable_sxConfig-borderTop-themeKey: borders;
    --joy-unstable_sxConfig-borderRight-themeKey: borders;
    --joy-unstable_sxConfig-borderBottom-themeKey: borders;
    --joy-unstable_sxConfig-borderLeft-themeKey: borders;
    --joy-unstable_sxConfig-borderColor-themeKey: palette;
    --joy-unstable_sxConfig-borderTopColor-themeKey: palette;
    --joy-unstable_sxConfig-borderRightColor-themeKey: palette;
    --joy-unstable_sxConfig-borderBottomColor-themeKey: palette;
    --joy-unstable_sxConfig-borderLeftColor-themeKey: palette;
    --joy-unstable_sxConfig-borderRadius-themeKey: radius;
    --joy-unstable_sxConfig-color-themeKey: palette;
    --joy-unstable_sxConfig-bgcolor-themeKey: palette;
    --joy-unstable_sxConfig-bgcolor-cssProperty: backgroundColor;
    --joy-unstable_sxConfig-backgroundColor-themeKey: palette;
    --joy-unstable_sxConfig-zIndex-themeKey: zIndex;
    --joy-unstable_sxConfig-boxShadow-themeKey: shadow;
    --joy-unstable_sxConfig-fontFamily-themeKey: fontFamily;
    --joy-unstable_sxConfig-fontSize-themeKey: fontSize;
    --joy-unstable_sxConfig-fontStyle-themeKey: typography;
    --joy-unstable_sxConfig-fontWeight-themeKey: fontWeight;
    --joy-unstable_sxConfig-letterSpacing-themeKey: letterSpacing;
    --joy-unstable_sxConfig-lineHeight-themeKey: lineHeight;
    --joy-unstable_sxConfig-typography-themeKey: typography;
}

:root,
[data-joy-color-scheme="light"] {
  --joy-palette-primary-50: #f9fafb;
  --joy-palette-primary-100: #f4f4f5;
  --joy-palette-primary-200: #e4e4e7;
  --joy-palette-primary-300: #d4d4d8;
  --joy-palette-primary-400: #a1a1aa;
  --joy-palette-primary-500: #71717a;
  --joy-palette-primary-600: #52525b;
  --joy-palette-primary-700: #3f3f46;
  --joy-palette-primary-800: #27272a;
  --joy-palette-primary-900: #18181b;
  --joy-palette-primary-plainColor: var(--joy-palette-primary-600);
  --joy-palette-primary-plainHoverBg: var(--joy-palette-primary-100);
  --joy-palette-primary-plainActiveBg: var(--joy-palette-primary-200);
  --joy-palette-primary-plainDisabledColor: var(--joy-palette-primary-200);
  --joy-palette-primary-outlinedColor: var(--joy-palette-primary-500);
  --joy-palette-primary-outlinedBorder: var(--joy-palette-primary-200);
  --joy-palette-primary-outlinedHoverBg: var(--joy-palette-primary-100);
  --joy-palette-primary-outlinedHoverBorder: var(--joy-palette-primary-300);
  --joy-palette-primary-outlinedActiveBg: var(--joy-palette-primary-200);
  --joy-palette-primary-outlinedDisabledColor: var(--joy-palette-primary-100);
  --joy-palette-primary-outlinedDisabledBorder: var(--joy-palette-primary-100);
  --joy-palette-primary-softColor: var(--joy-palette-primary-600);
  --joy-palette-primary-softBg: var(--joy-palette-primary-100);
  --joy-palette-primary-softHoverBg: var(--joy-palette-primary-200);
  --joy-palette-primary-softActiveBg: var(--joy-palette-primary-300);
  --joy-palette-primary-softDisabledColor: var(--joy-palette-primary-300);
  --joy-palette-primary-softDisabledBg: var(--joy-palette-primary-50);
  --joy-palette-primary-solidColor: #fff;
  --joy-palette-primary-solidBg: var(--joy-palette-primary-500);
  --joy-palette-primary-solidHoverBg: var(--joy-palette-primary-600);
  --joy-palette-primary-solidActiveBg: var(--joy-palette-primary-700);
  --joy-palette-primary-solidDisabledColor: #fff;
  --joy-palette-primary-solidDisabledBg: var(--joy-palette-primary-200);
  --joy-palette-primary-mainChannel: 113 113 122;
  --joy-palette-primary-lightChannel: 228 228 231;
  --joy-palette-primary-darkChannel: 39 39 42;
  --joy-palette-neutral-50: #f9fafb;
  --joy-palette-neutral-100: #f4f4f5;
  --joy-palette-neutral-200: #e4e4e7;
  --joy-palette-neutral-300: #d4d4d8;
  --joy-palette-neutral-400: #a1a1aa;
  --joy-palette-neutral-500: #71717a;
  --joy-palette-neutral-600: #52525b;
  --joy-palette-neutral-700: #3f3f46;
  --joy-palette-neutral-800: #27272a;
  --joy-palette-neutral-900: #18181b;
  --joy-palette-neutral-plainColor: var(--joy-palette-neutral-800);
  --joy-palette-neutral-plainHoverColor: var(--joy-palette-neutral-900);
  --joy-palette-neutral-plainHoverBg: var(--joy-palette-neutral-100);
  --joy-palette-neutral-plainActiveBg: var(--joy-palette-neutral-200);
  --joy-palette-neutral-plainDisabledColor: var(--joy-palette-neutral-300);
  --joy-palette-neutral-outlinedColor: var(--joy-palette-neutral-800);
  --joy-palette-neutral-outlinedBorder: var(--joy-palette-neutral-200);
  --joy-palette-neutral-outlinedHoverColor: var(--joy-palette-neutral-900);
  --joy-palette-neutral-outlinedHoverBg: var(--joy-palette-neutral-100);
  --joy-palette-neutral-outlinedHoverBorder: var(--joy-palette-neutral-300);
  --joy-palette-neutral-outlinedActiveBg: var(--joy-palette-neutral-200);
  --joy-palette-neutral-outlinedDisabledColor: var(--joy-palette-neutral-300);
  --joy-palette-neutral-outlinedDisabledBorder: var(--joy-palette-neutral-100);
  --joy-palette-neutral-softColor: var(--joy-palette-neutral-800);
  --joy-palette-neutral-softBg: var(--joy-palette-neutral-100);
  --joy-palette-neutral-softHoverColor: var(--joy-palette-neutral-900);
  --joy-palette-neutral-softHoverBg: var(--joy-palette-neutral-200);
  --joy-palette-neutral-softActiveBg: var(--joy-palette-neutral-300);
  --joy-palette-neutral-softDisabledColor: var(--joy-palette-neutral-300);
  --joy-palette-neutral-softDisabledBg: var(--joy-palette-neutral-50);
  --joy-palette-neutral-solidColor: var(--joy-palette-common-white);
  --joy-palette-neutral-solidBg: var(--joy-palette-neutral-600);
  --joy-palette-neutral-solidHoverBg: var(--joy-palette-neutral-700);
  --joy-palette-neutral-solidActiveBg: var(--joy-palette-neutral-800);
  --joy-palette-neutral-solidDisabledColor: var(--joy-palette-neutral-300);
  --joy-palette-neutral-solidDisabledBg: var(--joy-palette-neutral-50);
  --joy-palette-neutral-mainChannel: 113 113 122;
  --joy-palette-neutral-lightChannel: 228 228 231;
  --joy-palette-neutral-darkChannel: 39 39 42;
  --joy-palette-danger-50: #fff8f6;
  --joy-palette-danger-100: #ffe9e8;
  --joy-palette-danger-200: #ffc7c5;
  --joy-palette-danger-300: #ff9192;
  --joy-palette-danger-400: #fa5255;
  --joy-palette-danger-500: #d3232f;
  --joy-palette-danger-600: #a10e25;
  --joy-palette-danger-700: #77061b;
  --joy-palette-danger-800: #580013;
  --joy-palette-danger-900: #39000d;
  --joy-palette-danger-plainColor: var(--joy-palette-danger-600);
  --joy-palette-danger-plainHoverBg: var(--joy-palette-danger-100);
  --joy-palette-danger-plainActiveBg: var(--joy-palette-danger-200);
  --joy-palette-danger-plainDisabledColor: var(--joy-palette-danger-200);
  --joy-palette-danger-outlinedColor: var(--joy-palette-danger-500);
  --joy-palette-danger-outlinedBorder: var(--joy-palette-danger-200);
  --joy-palette-danger-outlinedHoverBg: var(--joy-palette-danger-100);
  --joy-palette-danger-outlinedHoverBorder: var(--joy-palette-danger-300);
  --joy-palette-danger-outlinedActiveBg: var(--joy-palette-danger-200);
  --joy-palette-danger-outlinedDisabledColor: var(--joy-palette-danger-100);
  --joy-palette-danger-outlinedDisabledBorder: var(--joy-palette-danger-100);
  --joy-palette-danger-softColor: var(--joy-palette-danger-600);
  --joy-palette-danger-softBg: var(--joy-palette-danger-100);
  --joy-palette-danger-softHoverBg: var(--joy-palette-danger-200);
  --joy-palette-danger-softActiveBg: var(--joy-palette-danger-300);
  --joy-palette-danger-softDisabledColor: var(--joy-palette-danger-300);
  --joy-palette-danger-softDisabledBg: var(--joy-palette-danger-50);
  --joy-palette-danger-solidColor: #fff;
  --joy-palette-danger-solidBg: var(--joy-palette-danger-500);
  --joy-palette-danger-solidHoverBg: var(--joy-palette-danger-600);
  --joy-palette-danger-solidActiveBg: var(--joy-palette-danger-700);
  --joy-palette-danger-solidDisabledColor: #fff;
  --joy-palette-danger-solidDisabledBg: var(--joy-palette-danger-200);
  --joy-palette-danger-mainChannel: 211 35 47;
  --joy-palette-danger-lightChannel: 255 199 197;
  --joy-palette-danger-darkChannel: 88 0 19;
  --joy-palette-info-50: #fdf7ff;
  --joy-palette-info-100: #f4eaff;
  --joy-palette-info-200: #e1cbff;
  --joy-palette-info-300: #c69eff;
  --joy-palette-info-400: #a374f9;
  --joy-palette-info-500: #814dde;
  --joy-palette-info-600: #5f35ae;
  --joy-palette-info-700: #452382;
  --joy-palette-info-800: #301761;
  --joy-palette-info-900: #1d0a42;
  --joy-palette-info-plainColor: var(--joy-palette-info-600);
  --joy-palette-info-plainHoverBg: var(--joy-palette-info-100);
  --joy-palette-info-plainActiveBg: var(--joy-palette-info-200);
  --joy-palette-info-plainDisabledColor: var(--joy-palette-info-200);
  --joy-palette-info-outlinedColor: var(--joy-palette-info-500);
  --joy-palette-info-outlinedBorder: var(--joy-palette-info-200);
  --joy-palette-info-outlinedHoverBg: var(--joy-palette-info-100);
  --joy-palette-info-outlinedHoverBorder: var(--joy-palette-info-300);
  --joy-palette-info-outlinedActiveBg: var(--joy-palette-info-200);
  --joy-palette-info-outlinedDisabledColor: var(--joy-palette-info-100);
  --joy-palette-info-outlinedDisabledBorder: var(--joy-palette-info-100);
  --joy-palette-info-softColor: var(--joy-palette-info-600);
  --joy-palette-info-softBg: var(--joy-palette-info-100);
  --joy-palette-info-softHoverBg: var(--joy-palette-info-200);
  --joy-palette-info-softActiveBg: var(--joy-palette-info-300);
  --joy-palette-info-softDisabledColor: var(--joy-palette-info-300);
  --joy-palette-info-softDisabledBg: var(--joy-palette-info-50);
  --joy-palette-info-solidColor: #fff;
  --joy-palette-info-solidBg: var(--joy-palette-info-500);
  --joy-palette-info-solidHoverBg: var(--joy-palette-info-600);
  --joy-palette-info-solidActiveBg: var(--joy-palette-info-700);
  --joy-palette-info-solidDisabledColor: #fff;
  --joy-palette-info-solidDisabledBg: var(--joy-palette-info-200);
  --joy-palette-info-mainChannel: 129 77 222;
  --joy-palette-info-lightChannel: 225 203 255;
  --joy-palette-info-darkChannel: 48 23 97;
  --joy-palette-success-50: #f3fef5;
  --joy-palette-success-100: #d7f5dd;
  --joy-palette-success-200: #77ec95;
  --joy-palette-success-300: #4cc76e;
  --joy-palette-success-400: #2ca24d;
  --joy-palette-success-500: #1a7d36;
  --joy-palette-success-600: #0f5d26;
  --joy-palette-success-700: #034318;
  --joy-palette-success-800: #002f0f;
  --joy-palette-success-900: #001d09;
  --joy-palette-success-plainColor: var(--joy-palette-success-600);
  --joy-palette-success-plainHoverBg: var(--joy-palette-success-100);
  --joy-palette-success-plainActiveBg: var(--joy-palette-success-200);
  --joy-palette-success-plainDisabledColor: var(--joy-palette-success-200);
  --joy-palette-success-outlinedColor: var(--joy-palette-success-500);
  --joy-palette-success-outlinedBorder: var(--joy-palette-success-200);
  --joy-palette-success-outlinedHoverBg: var(--joy-palette-success-100);
  --joy-palette-success-outlinedHoverBorder: var(--joy-palette-success-300);
  --joy-palette-success-outlinedActiveBg: var(--joy-palette-success-200);
  --joy-palette-success-outlinedDisabledColor: var(--joy-palette-success-100);
  --joy-palette-success-outlinedDisabledBorder: var(--joy-palette-success-100);
  --joy-palette-success-softColor: var(--joy-palette-success-600);
  --joy-palette-success-softBg: var(--joy-palette-success-100);
  --joy-palette-success-softHoverBg: var(--joy-palette-success-200);
  --joy-palette-success-softActiveBg: var(--joy-palette-success-300);
  --joy-palette-success-softDisabledColor: var(--joy-palette-success-300);
  --joy-palette-success-softDisabledBg: var(--joy-palette-success-50);
  --joy-palette-success-solidColor: #fff;
  --joy-palette-success-solidBg: var(--joy-palette-success-500);
  --joy-palette-success-solidHoverBg: var(--joy-palette-success-600);
  --joy-palette-success-solidActiveBg: var(--joy-palette-success-700);
  --joy-palette-success-solidDisabledColor: #fff;
  --joy-palette-success-solidDisabledBg: var(--joy-palette-success-200);
  --joy-palette-success-mainChannel: 26 125 54;
  --joy-palette-success-lightChannel: 119 236 149;
  --joy-palette-success-darkChannel: 0 47 15;
  --joy-palette-warning-50: #fff8c5;
  --joy-palette-warning-100: #fae17d;
  --joy-palette-warning-200: #eac54f;
  --joy-palette-warning-300: #d4a72c;
  --joy-palette-warning-400: #bf8700;
  --joy-palette-warning-500: #9a6700;
  --joy-palette-warning-600: #7d4e00;
  --joy-palette-warning-700: #633c01;
  --joy-palette-warning-800: #4d2d00;
  --joy-palette-warning-900: #3b2300;
  --joy-palette-warning-plainColor: var(--joy-palette-warning-800);
  --joy-palette-warning-plainHoverBg: var(--joy-palette-warning-50);
  --joy-palette-warning-plainActiveBg: var(--joy-palette-warning-200);
  --joy-palette-warning-plainDisabledColor: var(--joy-palette-warning-200);
  --joy-palette-warning-outlinedColor: var(--joy-palette-warning-800);
  --joy-palette-warning-outlinedBorder: var(--joy-palette-warning-200);
  --joy-palette-warning-outlinedHoverBg: var(--joy-palette-warning-50);
  --joy-palette-warning-outlinedHoverBorder: var(--joy-palette-warning-300);
  --joy-palette-warning-outlinedActiveBg: var(--joy-palette-warning-200);
  --joy-palette-warning-outlinedDisabledColor: var(--joy-palette-warning-100);
  --joy-palette-warning-outlinedDisabledBorder: var(--joy-palette-warning-100);
  --joy-palette-warning-softColor: var(--joy-palette-warning-800);
  --joy-palette-warning-softBg: var(--joy-palette-warning-50);
  --joy-palette-warning-softHoverBg: var(--joy-palette-warning-100);
  --joy-palette-warning-softActiveBg: var(--joy-palette-warning-200);
  --joy-palette-warning-softDisabledColor: var(--joy-palette-warning-200);
  --joy-palette-warning-softDisabledBg: var(--joy-palette-warning-50);
  --joy-palette-warning-solidColor: var(--joy-palette-warning-800);
  --joy-palette-warning-solidBg: var(--joy-palette-warning-200);
  --joy-palette-warning-solidHoverBg: var(--joy-palette-warning-300);
  --joy-palette-warning-solidActiveBg: var(--joy-palette-warning-400);
  --joy-palette-warning-solidDisabledColor: var(--joy-palette-warning-200);
  --joy-palette-warning-solidDisabledBg: var(--joy-palette-warning-50);
  --joy-palette-warning-mainChannel: 154 103 0;
  --joy-palette-warning-lightChannel: 234 197 79;
  --joy-palette-warning-darkChannel: 77 45 0;
  --joy-palette-common-white: #fff;
  --joy-palette-common-black: #09090d;
  --joy-palette-text-primary: var(--joy-palette-neutral-800);
  --joy-palette-text-secondary: var(--joy-palette-neutral-600);
  --joy-palette-text-tertiary: var(--joy-palette-neutral-500);
  --joy-palette-background-body: var(--joy-palette-primary-50);
  --joy-palette-background-surface: var(--joy-palette-common-white);
  --joy-palette-background-popup: var(--joy-palette-common-white);
  --joy-palette-background-level1: #00ff00;
  --joy-palette-background-level2: #00ffff;
  --joy-palette-background-level3: #0000ff;
  --joy-palette-background-tooltip: #f0f0f0;
  --joy-palette-background-backdrop: rgba(255 255 255 / 0.5);
  --joy-palette-divider: rgba(var(--joy-palette-neutral-mainChannel) / 0.28);
  --joy-palette-focusVisible: var(--joy-palette-primary-500);
  --joy-shadowRing: 0 0 #000;
  --joy-shadowChannel: 187 187 187;
}


[data-joy-color-scheme="dark"] {
    --joy-palette-primary-50: #f9fafb;
    --joy-palette-primary-100: #f4f4f5;
    --joy-palette-primary-200: #e4e4e7;
    --joy-palette-primary-300: #d4d4d8;
    --joy-palette-primary-400: #a1a1aa;
    --joy-palette-primary-500: #71717a;
    --joy-palette-primary-600: #52525b;
    --joy-palette-primary-700: #3f3f46;
    --joy-palette-primary-800: #27272a;
    --joy-palette-primary-900: #18181b;
    --joy-palette-primary-plainColor: var(--joy-palette-primary-300);
    --joy-palette-primary-plainHoverBg: var(--joy-palette-primary-800);
    --joy-palette-primary-plainActiveBg: var(--joy-palette-primary-700);
    --joy-palette-primary-plainDisabledColor: var(--joy-palette-primary-800);
    --joy-palette-primary-outlinedColor: var(--joy-palette-primary-200);
    --joy-palette-primary-outlinedBorder: var(--joy-palette-primary-700);
    --joy-palette-primary-outlinedHoverBg: var(--joy-palette-primary-800);
    --joy-palette-primary-outlinedHoverBorder: var(--joy-palette-primary-600);
    --joy-palette-primary-outlinedActiveBg: var(--joy-palette-primary-900);
    --joy-palette-primary-outlinedDisabledColor: var(--joy-palette-primary-800);
    --joy-palette-primary-outlinedDisabledBorder: var(--joy-palette-primary-800);
    --joy-palette-primary-softColor: var(--joy-palette-primary-200);
    --joy-palette-primary-softBg: var(--joy-palette-primary-900);
    --joy-palette-primary-softHoverBg: var(--joy-palette-primary-800);
    --joy-palette-primary-softActiveBg: var(--joy-palette-primary-700);
    --joy-palette-primary-softDisabledColor: var(--joy-palette-primary-800);
    --joy-palette-primary-softDisabledBg: var(--joy-palette-primary-900);
    --joy-palette-primary-solidColor: #fff;
    --joy-palette-primary-solidBg: var(--joy-palette-primary-600);
    --joy-palette-primary-solidHoverBg: var(--joy-palette-primary-700);
    --joy-palette-primary-solidActiveBg: var(--joy-palette-primary-800);
    --joy-palette-primary-solidDisabledColor: var(--joy-palette-primary-700);
    --joy-palette-primary-solidDisabledBg: var(--joy-palette-primary-900);
    --joy-palette-primary-mainChannel: 113 113 122;
    --joy-palette-primary-lightChannel: 228 228 231;
    --joy-palette-primary-darkChannel: 39 39 42;
    --joy-palette-neutral-50: #f9fafb;
    --joy-palette-neutral-100: #f4f4f5;
    --joy-palette-neutral-200: #e4e4e7;
    --joy-palette-neutral-300: #d4d4d8;
    --joy-palette-neutral-400: #a1a1aa;
    --joy-palette-neutral-500: #71717a;
    --joy-palette-neutral-600: #52525b;
    --joy-palette-neutral-700: #3f3f46;
    --joy-palette-neutral-800: #27272a;
    --joy-palette-neutral-900: #18181b;
    --joy-palette-neutral-plainColor: var(--joy-palette-neutral-200);
    --joy-palette-neutral-plainHoverColor: var(--joy-palette-neutral-50);
    --joy-palette-neutral-plainHoverBg: var(--joy-palette-neutral-800);
    --joy-palette-neutral-plainActiveBg: var(--joy-palette-neutral-700);
    --joy-palette-neutral-plainDisabledColor: var(--joy-palette-neutral-700);
    --joy-palette-neutral-outlinedColor: var(--joy-palette-neutral-200);
    --joy-palette-neutral-outlinedBorder: var(--joy-palette-neutral-800);
    --joy-palette-neutral-outlinedHoverColor: var(--joy-palette-neutral-50);
    --joy-palette-neutral-outlinedHoverBg: var(--joy-palette-neutral-800);
    --joy-palette-neutral-outlinedHoverBorder: var(--joy-palette-neutral-700);
    --joy-palette-neutral-outlinedActiveBg: var(--joy-palette-neutral-800);
    --joy-palette-neutral-outlinedDisabledColor: var(--joy-palette-neutral-800);
    --joy-palette-neutral-outlinedDisabledBorder: var(--joy-palette-neutral-800);
    --joy-palette-neutral-softColor: var(--joy-palette-neutral-200);
    --joy-palette-neutral-softBg: var(--joy-palette-neutral-800);
    --joy-palette-neutral-softHoverColor: var(--joy-palette-neutral-50);
    --joy-palette-neutral-softHoverBg: var(--joy-palette-neutral-700);
    --joy-palette-neutral-softActiveBg: var(--joy-palette-neutral-600);
    --joy-palette-neutral-softDisabledColor: var(--joy-palette-neutral-700);
    --joy-palette-neutral-softDisabledBg: var(--joy-palette-neutral-900);
    --joy-palette-neutral-solidColor: var(--joy-palette-common-white);
    --joy-palette-neutral-solidBg: var(--joy-palette-neutral-600);
    --joy-palette-neutral-solidHoverBg: var(--joy-palette-neutral-700);
    --joy-palette-neutral-solidActiveBg: var(--joy-palette-neutral-800);
    --joy-palette-neutral-solidDisabledColor: var(--joy-palette-neutral-700);
    --joy-palette-neutral-solidDisabledBg: var(--joy-palette-neutral-900);
    --joy-palette-neutral-mainChannel: 113 113 122;
    --joy-palette-neutral-lightChannel: 228 228 231;
    --joy-palette-neutral-darkChannel: 39 39 42;
    --joy-palette-danger-50: #FFF8F6;
    --joy-palette-danger-100: #FFE9E8;
    --joy-palette-danger-200: #FFC7C5;
    --joy-palette-danger-300: #FF9192;
    --joy-palette-danger-400: #FA5255;
    --joy-palette-danger-500: #D3232F;
    --joy-palette-danger-600: #A10E25;
    --joy-palette-danger-700: #77061B;
    --joy-palette-danger-800: #580013;
    --joy-palette-danger-900: #39000D;
    --joy-palette-danger-plainColor: var(--joy-palette-danger-300);
    --joy-palette-danger-plainHoverBg: var(--joy-palette-danger-800);
    --joy-palette-danger-plainActiveBg: var(--joy-palette-danger-700);
    --joy-palette-danger-plainDisabledColor: var(--joy-palette-danger-800);
    --joy-palette-danger-outlinedColor: var(--joy-palette-danger-200);
    --joy-palette-danger-outlinedBorder: var(--joy-palette-danger-700);
    --joy-palette-danger-outlinedHoverBg: var(--joy-palette-danger-800);
    --joy-palette-danger-outlinedHoverBorder: var(--joy-palette-danger-600);
    --joy-palette-danger-outlinedActiveBg: var(--joy-palette-danger-900);
    --joy-palette-danger-outlinedDisabledColor: var(--joy-palette-danger-800);
    --joy-palette-danger-outlinedDisabledBorder: var(--joy-palette-danger-800);
    --joy-palette-danger-softColor: var(--joy-palette-danger-200);
    --joy-palette-danger-softBg: var(--joy-palette-danger-900);
    --joy-palette-danger-softHoverBg: var(--joy-palette-danger-800);
    --joy-palette-danger-softActiveBg: var(--joy-palette-danger-700);
    --joy-palette-danger-softDisabledColor: var(--joy-palette-danger-800);
    --joy-palette-danger-softDisabledBg: var(--joy-palette-danger-900);
    --joy-palette-danger-solidColor: #fff;
    --joy-palette-danger-solidBg: var(--joy-palette-danger-600);
    --joy-palette-danger-solidHoverBg: var(--joy-palette-danger-700);
    --joy-palette-danger-solidActiveBg: var(--joy-palette-danger-800);
    --joy-palette-danger-solidDisabledColor: var(--joy-palette-danger-700);
    --joy-palette-danger-solidDisabledBg: var(--joy-palette-danger-900);
    --joy-palette-danger-mainChannel: 211 35 47;
    --joy-palette-danger-lightChannel: 255 199 197;
    --joy-palette-danger-darkChannel: 88 0 19;
    --joy-palette-info-50: #FDF7FF;
    --joy-palette-info-100: #F4EAFF;
    --joy-palette-info-200: #E1CBFF;
    --joy-palette-info-300: #C69EFF;
    --joy-palette-info-400: #A374F9;
    --joy-palette-info-500: #814DDE;
    --joy-palette-info-600: #5F35AE;
    --joy-palette-info-700: #452382;
    --joy-palette-info-800: #301761;
    --joy-palette-info-900: #1D0A42;
    --joy-palette-info-plainColor: var(--joy-palette-info-300);
    --joy-palette-info-plainHoverBg: var(--joy-palette-info-800);
    --joy-palette-info-plainActiveBg: var(--joy-palette-info-700);
    --joy-palette-info-plainDisabledColor: var(--joy-palette-info-800);
    --joy-palette-info-outlinedColor: var(--joy-palette-info-200);
    --joy-palette-info-outlinedBorder: var(--joy-palette-info-700);
    --joy-palette-info-outlinedHoverBg: var(--joy-palette-info-800);
    --joy-palette-info-outlinedHoverBorder: var(--joy-palette-info-600);
    --joy-palette-info-outlinedActiveBg: var(--joy-palette-info-900);
    --joy-palette-info-outlinedDisabledColor: var(--joy-palette-info-800);
    --joy-palette-info-outlinedDisabledBorder: var(--joy-palette-info-800);
    --joy-palette-info-softColor: var(--joy-palette-info-200);
    --joy-palette-info-softBg: var(--joy-palette-info-900);
    --joy-palette-info-softHoverBg: var(--joy-palette-info-800);
    --joy-palette-info-softActiveBg: var(--joy-palette-info-700);
    --joy-palette-info-softDisabledColor: var(--joy-palette-info-800);
    --joy-palette-info-softDisabledBg: var(--joy-palette-info-900);
    --joy-palette-info-solidColor: #fff;
    --joy-palette-info-solidBg: var(--joy-palette-info-600);
    --joy-palette-info-solidHoverBg: var(--joy-palette-info-700);
    --joy-palette-info-solidActiveBg: var(--joy-palette-info-800);
    --joy-palette-info-solidDisabledColor: var(--joy-palette-info-700);
    --joy-palette-info-solidDisabledBg: var(--joy-palette-info-900);
    --joy-palette-info-mainChannel: 129 77 222;
    --joy-palette-info-lightChannel: 225 203 255;
    --joy-palette-info-darkChannel: 48 23 97;
    --joy-palette-success-50: #F3FEF5;
    --joy-palette-success-100: #D7F5DD;
    --joy-palette-success-200: #77EC95;
    --joy-palette-success-300: #4CC76E;
    --joy-palette-success-400: #2CA24D;
    --joy-palette-success-500: #1A7D36;
    --joy-palette-success-600: #0F5D26;
    --joy-palette-success-700: #034318;
    --joy-palette-success-800: #002F0F;
    --joy-palette-success-900: #001D09;
    --joy-palette-success-plainColor: var(--joy-palette-success-300);
    --joy-palette-success-plainHoverBg: var(--joy-palette-success-800);
    --joy-palette-success-plainActiveBg: var(--joy-palette-success-700);
    --joy-palette-success-plainDisabledColor: var(--joy-palette-success-800);
    --joy-palette-success-outlinedColor: var(--joy-palette-success-200);
    --joy-palette-success-outlinedBorder: var(--joy-palette-success-700);
    --joy-palette-success-outlinedHoverBg: var(--joy-palette-success-800);
    --joy-palette-success-outlinedHoverBorder: var(--joy-palette-success-600);
    --joy-palette-success-outlinedActiveBg: var(--joy-palette-success-900);
    --joy-palette-success-outlinedDisabledColor: var(--joy-palette-success-800);
    --joy-palette-success-outlinedDisabledBorder: var(--joy-palette-success-800);
    --joy-palette-success-softColor: var(--joy-palette-success-200);
    --joy-palette-success-softBg: var(--joy-palette-success-900);
    --joy-palette-success-softHoverBg: var(--joy-palette-success-800);
    --joy-palette-success-softActiveBg: var(--joy-palette-success-700);
    --joy-palette-success-softDisabledColor: var(--joy-palette-success-800);
    --joy-palette-success-softDisabledBg: var(--joy-palette-success-900);
    --joy-palette-success-solidColor: #fff;
    --joy-palette-success-solidBg: var(--joy-palette-success-600);
    --joy-palette-success-solidHoverBg: var(--joy-palette-success-700);
    --joy-palette-success-solidActiveBg: var(--joy-palette-success-800);
    --joy-palette-success-solidDisabledColor: var(--joy-palette-success-700);
    --joy-palette-success-solidDisabledBg: var(--joy-palette-success-900);
    --joy-palette-success-mainChannel: 26 125 54;
    --joy-palette-success-lightChannel: 119 236 149;
    --joy-palette-success-darkChannel: 0 47 15;
    --joy-palette-warning-50: #FFF8C5;
    --joy-palette-warning-100: #FAE17D;
    --joy-palette-warning-200: #EAC54F;
    --joy-palette-warning-300: #D4A72C;
    --joy-palette-warning-400: #BF8700;
    --joy-palette-warning-500: #9A6700;
    --joy-palette-warning-600: #7D4E00;
    --joy-palette-warning-700: #633C01;
    --joy-palette-warning-800: #4D2D00;
    --joy-palette-warning-900: #3B2300;
    --joy-palette-warning-plainColor: var(--joy-palette-warning-300);
    --joy-palette-warning-plainHoverBg: var(--joy-palette-warning-800);
    --joy-palette-warning-plainActiveBg: var(--joy-palette-warning-700);
    --joy-palette-warning-plainDisabledColor: var(--joy-palette-warning-800);
    --joy-palette-warning-outlinedColor: var(--joy-palette-warning-200);
    --joy-palette-warning-outlinedBorder: var(--joy-palette-warning-700);
    --joy-palette-warning-outlinedHoverBg: var(--joy-palette-warning-800);
    --joy-palette-warning-outlinedHoverBorder: var(--joy-palette-warning-600);
    --joy-palette-warning-outlinedActiveBg: var(--joy-palette-warning-900);
    --joy-palette-warning-outlinedDisabledColor: var(--joy-palette-warning-800);
    --joy-palette-warning-outlinedDisabledBorder: var(--joy-palette-warning-800);
    --joy-palette-warning-softColor: var(--joy-palette-warning-200);
    --joy-palette-warning-softBg: var(--joy-palette-warning-900);
    --joy-palette-warning-softHoverBg: var(--joy-palette-warning-800);
    --joy-palette-warning-softActiveBg: var(--joy-palette-warning-700);
    --joy-palette-warning-softDisabledColor: var(--joy-palette-warning-800);
    --joy-palette-warning-softDisabledBg: var(--joy-palette-warning-900);
    --joy-palette-warning-solidColor: var(--joy-palette-common-black);
    --joy-palette-warning-solidBg: var(--joy-palette-warning-300);
    --joy-palette-warning-solidHoverBg: var(--joy-palette-warning-400);
    --joy-palette-warning-solidActiveBg: var(--joy-palette-warning-500);
    --joy-palette-warning-solidDisabledColor: var(--joy-palette-warning-700);
    --joy-palette-warning-solidDisabledBg: var(--joy-palette-warning-900);
    --joy-palette-warning-mainChannel: 154 103 0;
    --joy-palette-warning-lightChannel: 234 197 79;
    --joy-palette-warning-darkChannel: 77 45 0;
    --joy-palette-common-white: #FFF;
    --joy-palette-common-black: #09090D;
    --joy-palette-text-primary: var(--joy-palette-neutral-100);
    --joy-palette-text-secondary: var(--joy-palette-neutral-300);
    --joy-palette-text-tertiary: var(--joy-palette-neutral-400);
    --joy-palette-background-body: var(--joy-palette-neutral-900);
    --joy-palette-background-surface: var(--joy-palette-common-black);
    --joy-palette-background-popup: var(--joy-palette-neutral-800);
    --joy-palette-background-level1: #00ff00;
    --joy-palette-background-level2: #00ffff;
    --joy-palette-background-level3: #0000ff;
    --joy-palette-background-tooltip: #f0f0f0;
    --joy-palette-background-backdrop: rgba(var(--joy-palette-neutral-darkChannel) / 0.5);
    --joy-palette-divider: rgba(var(--joy-palette-neutral-mainChannel) / 0.24);
    --joy-palette-focusVisible: var(--joy-palette-primary-500);
    --joy-shadowRing: 0 0 #000;
    --joy-shadowChannel: 0 0 0;
}
