.root {
    line { stroke: var(--mui-palette-divider); }
    circle { fill: #777; }
    circle:last-of-type { fill: #537B63; }
    path { fill: #26E773 }
    stop { stop-color: var(--mui-palette-background-default); }

    [data-mui-color-scheme="light"] & {
        circle { fill: #999; }
        circle:last-of-type { fill: #AEFCCD; }
        path { fill: #1FC160 }
    }
}
