.root {
    line { stroke: var(--joy-palette-divider); }
    circle { fill: #777; }
    circle:last-of-type { fill: #45ca7a; }
    path { fill: #ffffff }
    stop { stop-color: var(--joy-palette-background-default); }

    [data-mui-color-scheme="light"] & {
        circle { fill: #999; }
        circle:last-of-type { fill: rgb(58, 141, 91); }
        path { fill: #ffffff }
    }
}
