@import 'react-toastify/dist/ReactToastify.css';

:root {
    --toastify-font-family: var(--font-sans);
    --toastify-color-dark: #fff;
    --toastify-color-progress-dark: #000;
    --toastify-text-color-dark: #333;
  }
  
  .dark {
    --toastify-color-progress-dark: #fff;
  }
