.root {
    display: flex;
    flex-direction: row;
    align-items: var(--s-alignItems);
    justify-content: var(--s-justifyContent);
    justify-items: var(--s-justifyItems);
    gap: var(--s-gap);
}
