.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    @media (max-width: 400px) {
        flex-direction: column;
    }
}
