.root {
    padding: 16px;
    width: 100%;
    font-size: 26px;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        height: 80%;
        width: 0;
        opacity: 0;
        background-color: white;
        border-radius: 3px;
        transition: opacity, width linear 0.2s;
    }
}

.active {
    &::before {
        width: 3px;
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .active {
        background-color: var(--joy-palette-text-primary);
        color: var(--joy-palette-background-body)
    }
}
