.root {
    display: flex;
    position: relative;
    gap: 8px;
}

.badgeContainer {
    & > * { 
        position: absolute; 
        top: calc(var(--fixedHeight) - 24px - var(--fixedHeight) * 0.18) 
    }
}
