name: "[Global] Run Tests"
on:
    pull_request:
jobs:
    test:
        name: "[Global] Run Tests"
        timeout-minutes: 20
        runs-on: ubuntu-latest
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: signalco
          TURBO_REMOTE_ONLY: true
        container:
          image: mcr.microsoft.com/playwright:v1.29.2-focal
        steps:
            - uses: actions/checkout@v3
            - name: Setup pnpm
              uses: pnpm/action-setup@v2.2.4
              with:
                version: 'latest'
            - uses: actions/setup-node@v3
              with:
                node-version: "18.x"
                cache: "pnpm"
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run tests
              run: pnpm test
