# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: 'NextJS Bundle Analysis'

on:
    workflow_call:
        inputs:
            workflowName:
                required: true
                type: string
                description: 'Name of the workflow this is triggered from'
            name:
                required: true
                type: string
                description: 'Name of the package or application to analzye'
            path:
                required: true
                type: string
                description: 'Path to the package or application to analzye'

env:
    TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    TURBO_TEAM: signalco
    TURBO_REMOTE_ONLY: true
    NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
    CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
    DOPROCESS_DATABASE_HOST: ${{ secrets.DOPROCESS_DATABASE_HOST }}
    DOPROCESS_DATABASE_USERNAME: ${{ secrets.DOPROCESS_DATABASE_USERNAME }}
    DOPROCESS_DATABASE_PASSWORD: ${{ secrets.DOPROCESS_DATABASE_PASSWORD }}
    OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

defaults:
    run:      
        working-directory: ./web

jobs:
    analysis:
        name: "[${{ inputs.name }}] Next.js Bundle Analysis"
        timeout-minutes: 5
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.name }}
            cancel-in-progress: true
        steps:
          - uses: actions/checkout@v4
            with:
              fetch-depth: 2
          - name: Setup pnpm
            uses: pnpm/action-setup@v2.4.0
            with:
              version: 'latest'
          - uses: actions/setup-node@v4
            with:
                node-version: "20.x"
                cache: "pnpm"
                cache-dependency-path: ./web
          - name: Install dependencies
            run: pnpm install --frozen-lockfile --filter ${{ inputs.name }}... --filter .
    
          - name: Build app
            run: pnpm build --filter=${{ inputs.name }}
    
          # Here's the first place where next-bundle-analysis' own script is used
          # This step pulls the raw bundle stats for the current bundle
          - name: Analyze bundle
            run: npx -yes -p github:hashicorp/nextjs-bundle-analysis report
            working-directory: ${{ inputs.path }}/
    
          - name: Upload bundle
            uses: actions/upload-artifact@v3
            with:
              name: bundle
              path: ${{ inputs.path }}/.next/analyze/__bundle_analysis.json
    
          - name: Download base branch bundle stats
            uses: dawidd6/action-download-artifact@v3
            if: success() && github.event.number
            with:
              workflow: ${{ inputs.workflowName }}
              branch: ${{ github.event.pull_request.base.ref }}
              path: ${{ inputs.path }}/.next/analyze/base
    
          # And here's the second place - this runs after we have both the current and
          # base branch bundle stats, and will compare them to determine what changed.
          # There are two configurable arguments that come from package.json:
          #
          # - budget: optional, set a budget (bytes) against which size changes are measured
          #           it's set to 350kb here by default, as informed by the following piece:
          #           https://infrequently.org/2021/03/the-performance-inequality-gap/
          #
          # - red-status-percentage: sets the percent size increase where you get a red
          #                          status indicator, defaults to 20%
          #
          # Either of these arguments can be changed or removed by editing the `nextBundleAnalysis`
          # entry in your package.json file.
          - name: Compare with base branch bundle
            if: success() && github.event.number
            run: ls -laR .next/analyze/base && npx -yes -p github:hashicorp/nextjs-bundle-analysis compare
            working-directory: ${{ inputs.path }}/
    
          - name: Get comment body
            id: get-comment-body
            if: success() && github.event.number
            uses: actions/github-script@v7
            with:
              result-encoding: string
              script: |
                const fs = require('fs')
                const comment = fs.readFileSync('${{ inputs.path }}/.next/analyze/__bundle_analysis_comment.txt', 'utf8') + "<!-- __NEXTJS_BUNDLE_${{ inputs.name }} -->"
                core.setOutput('body', comment)
    
          - name: Find Comment
            uses: peter-evans/find-comment@v2
            if: success() && github.event.number
            id: fc
            with:
              issue-number: ${{ github.event.number }}
              body-includes: '<!-- __NEXTJS_BUNDLE_${{ inputs.name }} -->'
    
          - name: Create Comment
            uses: peter-evans/create-or-update-comment@v3.1.0
            if: success() && github.event.number && steps.fc.outputs.comment-id == 0
            with:
              issue-number: ${{ github.event.number }}
              body: ${{ steps.get-comment-body.outputs.body }}
    
          - name: Update Comment
            uses: peter-evans/create-or-update-comment@v3.1.0
            if: success() && github.event.number && steps.fc.outputs.comment-id != 0
            with:
              issue-number: ${{ github.event.number }}
              body: ${{ steps.get-comment-body.outputs.body }}
              comment-id: ${{ steps.fc.outputs.comment-id }}
              edit-mode: replace
